@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat|Patua+One');
	@import url('https://fonts.googleapis.com/css?family=Monoton');
	/*font-family: 'Abel', sans-serif;
		font-family: 'Montserrat', sans-serif;
		font-family: 'Patua One', cursive;
		font-family: 'Monoton', cursive;*/
	.blogsH{
		height:100%;
	}
	.main-menu li a{
		font-size:18px;
	}
	
	@media(min-width: 768px){
	
		.content-section{
			display: flex;	
			justify-content: space-around;
		}
		
		.about-rental{
			order: 1;
			width: 50%;
		}
		
		.message-box-section{
			order: 2;
			width: 40%;
		}
	}
		
	@media(min-width: 1024px){
		.first{
			display: flex;
			justify-content: space-between;
		}

		.first div{
			flex: 1;
		}
		
		.first input{
			width: 45%;
		}
		.images{
			display: flex;
			justify-content: space-between;
		}
		
		.imgs{
			width: 47%;
		}
	}
	
	@media(max-width: 768px){
		.about-rental{
			width: 90%;
			margin-left: 5%;
			margin-bottom: 40px;
		}
		
		.message-box-section{
			margin-left: 5%;
			width: 90%;
			
		}
		
		.message-box{
			padding: 50px;
		}
		.first{
			display: flex;
			justify-content: space-between;
		}

		.first div{
			flex: 1;
		}
		
		.first input{
			width: 45%;
		}
	}
		
		.content-section{
			margin-bottom: 30px;
		}
		
		.about-rental{
			background-color: rgba(120,120,120,0.1);
		}
		
		.about-rental .container{
			position: relative;
			margin-left: 10%;
			padding-top: 20px;
			width: 85%;
		}
		
		.about-rental .img-contain{
			position: relative;
			margin-top: 40px;
			margin-left: 10%;
			width:80%;
		}
		.message-box{
			background-image: url("violin.jpg");
			background-repeat: no-repeat;
			background-size: stretch;
		}
		.msg-head{
			font-family: 'Monoton', cursive;
			color: rgb(238, 135, 110);
			background: none;
			border: none;
			border-left: 3px #eee solid;
			font-size: 30px;
			margin-bottom: 30px;
		}

		input[type=submit]{
			margin-top: 25px;
			border-radius: 20px;
			width: 30%;
			height: 40px;
		}

		input[type=text], textarea{
			border: 2px #fff ridge;
			outline: none;
			border-radius: 20px;
			background-color: rgba(180, 180, 180, 0.3);
			box-sizing: border-box;
			font-size: 16px;
			padding: 20px;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
		}
		::placeholder{
			color: black;
		}